@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");
@import "colors.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: background-color 0.55s ease-in-out, opacity 0.65s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

.title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Gluten";
  letter-spacing: 4px;
  font-weight: 700;
  color: var(--theme-fg);
  font-size: 88px;
  z-index: 2;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-overflow: clip;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.69);
  transition: color 0.65s ease-in-out;
}

.menu-bar {
  display: flex;
  gap: 10px;
  padding: 13px;
}

.content {
  /* used for page elements outside of the part with the bg-image */
  background-color: var(--theme-bg);
}

.bg-image {
  height: 100vh;
  width: 100%;
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: brightness(var(--background-opacity));
          filter: brightness(var(--background-opacity));
  transition: background-image 0.65s ease-in-out, opacity 0.65s ease-in-out,
    -webkit-filter 0.65s ease-in-out;
  transition: background-image 0.65s ease-in-out, opacity 0.65s ease-in-out,
    filter 0.65s ease-in-out;
  transition: background-image 0.65s ease-in-out, opacity 0.65s ease-in-out,
    filter 0.65s ease-in-out, -webkit-filter 0.65s ease-in-out;
}

.bg-image-transition {
  opacity: 0;
}

.light-mode {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}
