@import "colors.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: background-color 0.55s ease-in-out,
    opacity 0.65s ease-in-out;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}

.menu-bar {
  display: flex;
  gap: 10px;
  padding: 13px;
  position: fixed;
}

.content {
  /* used for page elements outside of the part with the bg-image */
  background-color: var(--theme-bg);
}

.bg-image {
  height: 100vh;
  width: 100%;
  display: inline-block;
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: brightness(var(--background-opacity));
  filter: brightness(var(--background-opacity));
  transition: background-image 0.65s ease-in-out,
    opacity 0.65s ease-in-out, -webkit-filter 0.65s ease-in-out;
  transition: background-image 0.65s ease-in-out,
    opacity 0.65s ease-in-out, filter 0.65s ease-in-out;
  transition: background-image 0.65s ease-in-out,
    opacity 0.65s ease-in-out, filter 0.65s ease-in-out,
    -webkit-filter 0.65s ease-in-out;
  transition: background 0.65s ease-in-out,
    opacity 0.65s ease-in-out, -webkit-filter 0.65s ease-in-out;
  transition: background 0.65s ease-in-out,
    opacity 0.65s ease-in-out, filter 0.65s ease-in-out;
  transition: background 0.65s ease-in-out,
    opacity 0.65s ease-in-out, filter 0.65s ease-in-out,
    -webkit-filter 0.65s ease-in-out;
}

.bg-image-transition {
  opacity: 0;
}

.light-mode {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}
