@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten&display=swap");
@import "colors.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: var(--theme-bg);
  transition: background-color 0.65s ease-in-out, opacity 0.65s ease-in-out;
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

.title-page {
  color: var(--theme-fg);
}

.title-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Gluten";
  letter-spacing: 4px;
  font-weight: 700;
  color: var(--theme-fg);
  font-size: 88px;
  z-index: 2;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-overflow: clip;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.69);
  transition: color 0.55s ease-in-out, opacity 0.55s ease-in-out;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.menu-bar {
  display: flex;
  gap: 10px;
  padding: 13px;
}

.content {
  /* used for page elements outside of the part with the bg-image */
  background-color: var(--theme-bg);
  color: var(--theme-fg);
  font-family: "Poppins", sans-serif;
}

.bg-image {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg-image #bg-blurred {
  width: 105%;
  height: 105%;
  margin: -5px;
  filter: blur(0.5rem);
}

img {
  transition: opacity 0.55s ease-in-out;
}

.light-mode {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}
