@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,500&display=swap");
@import "colors.css";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--theme-bg);
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: background-color 0.65s cubic-bezier(.18, .61, .68, .12), opacity 0.65s cubic-bezier(.18, .61, .68, .12);
}

body::-webkit-scrollbar {
  display: none;
}

.page-content {
  background-color: var(--theme-body-transparency);
  padding: 20px;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.content {
  background-color: var(--theme-bg);

}

.bg-image {
  height: 100vh;
  width: 100%;
  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-image 0.65s cubic-bezier(.18, .61, .68, .12), opacity 0.65s cubic-bezier(.18, .61, .68, .12);
}

.bg-image-transition {
  opacity: 0;
}

.light-mode {
  background-color: var(--theme-bg);
  color: var(--theme-fg);
}