@import "colors.css";

.theme-box {
  background-color: var(--transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--theme-fg);
  cursor: pointer;
}

#theme-icon {
  width: 1.5em;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#theme-label {
  color: var(--theme-anti);
}

#theme-button {
  background-color: var(--semi-transparent);
  border: 0;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
  height: 48px;
  width: 48px;
  transition: background-color 250ms ease 60ms;
}

#theme-button:hover {
  background-color: rgba(190, 190, 190, 0.678);
}