@import "../colors.css";

@import "../macro.css";

.titles-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.e,
.x,
.o,
.a,
.d {
  color: var(--theme-fg);
  text-shadow: 0 4px rgba(0, 0, 0, 0.69), 0 8px rgba(0, 0, 0, 0.69),
    0 7px rgba(0, 0, 0, 0.69);
}

.exoad-container {
  border: 1px solid red;
  display: flex;
  font-size: 88px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: "Gluten";
  justify-content: center;
  text-align: center;
  align-items: center;
}

.titles {
  text-align: center;
}

.typing {
  color: var(--theme-fg);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
  transition: all 40ms ease;
}

.typing::after {
  content: "|";
  position: relative;
  right: 0;
  -webkit-animation: text_blink 0.85s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  animation: text_blink 0.85s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@-webkit-keyframes text_blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--theme-fg);
  }
}

@keyframes text_blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--theme-fg);
  }
}

@keyframes bounce {
  10% {
    transform: scale(1.25, 0.6) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.2) translateY(-66px);
    color: var(--theme-pink);
  }
  40% {
    color: var(--theme-fg);
  }
  0%,
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.e {
  animation: bounce 1.2s ease infinite;
}

.x {
  animation: bounce 1.2s ease infinite 0.12s;
}

.o {
  animation: bounce 1.2s ease infinite 0.22s;
}

.a {
  animation: bounce 1.2s ease infinite 0.32s;
}

.d {
  animation: bounce 1.2s ease infinite 0.42s;
}
