@import "../colors.css";

.titles-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.titles {
  text-align: center;
}

.title-text {
  font-family: "Gluten";
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 88px;
  color: var(--theme-fg);
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.69);
  margin-bottom: 20px;
}

.typing {
  color: var(--theme-fg);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
  transition: all 40ms ease;
}

.typing::after {
  content: "|";
  position: relative;
  right: 0;
  -webkit-animation: text_blink 0.85s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  animation: text_blink 0.85s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@-webkit-keyframes text_blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--theme-fg);
  }
}

@keyframes text_blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: var(--theme-fg);
  }
}
